# Google OAuth2 credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:2468/auth/google/callback

# JWT secret key for inter-service auth
JWT_SECRET_KEY=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Service URLs
DB_SERVICE_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000
