# Stripe credentials
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_ENDPOINT_SECRET=

# Shopify webhook HMAC secret
SHOPIFY_WEBHOOK_SECRET=

# JWT secret key for inter-service auth
JWT_SECRET_KEY=

# Service URLs
AUTH_SERVICE_URL=http://localhost:2468
DB_SERVICE_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000
